<div class="g-row">
  <mat-card class="example-form" *ngIf="chatMessages.length > 0;" color="primary">
    <mat-card *ngFor="let message of chatMessages">
      <md-card-header class="g-row__header">
        <!--<div md-card-avatar class="example-header-image"></div>-->
          <md-card-title>
            <div class="g-row__head">
              <mat-icon color="primary">person outlet</mat-icon><b class="g-row__name">{{message.nickName}}</b>
              <mat-icon>update</mat-icon><b class="g-row__name"> {{message.created |  date }}</b>
            </div>
          </md-card-title>
        <hr>
      </md-card-header>


      <mat-card-content>
        {{message.message}}
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
<form [formGroup]="messageForm" class="example-form" class="chat-input" (submit)="send()">
  <mat-card>
    <mat-form-field class="example-full-width">
      <input required matInput formControlName="messageControl">
    </mat-form-field>
    <button mat-mini-fab [disabled]="messageForm.invalid">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card>
</form>