<div class="g-row">
  <mat-card class="example-form" *ngIf="chatMessages.length > 0;" color="primary">
    <mat-card *ngFor="let message of chatMessages">
      <mat-card-header class="g-row__header">
        <!--<div md-card-avatar class="example-header-image"></div>-->
          <mat-card-title>
            <div class="g-row__head">
              <mat-icon color="primary">person outlet</mat-icon><b class="g-row__name">{{user.nickname}}</b>
              <mat-icon>update</mat-icon><b class="g-row__name"> {{message.created | date :  "MMM d, y HH:mm:ss" }}</b>
            </div>
          </mat-card-title>
        <hr>
      </mat-card-header>
      <mat-card-content>
        {{message.message}}
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
<form [formGroup]="messageForm" class="example-form chat-input">
  <mat-card>
    <mat-form-field class="example-full-width">
      <input required matInput formControlName="messageControl">
    </mat-form-field>
    <button mat-mini-fab [disabled]="messageForm.invalid" (click)="send(messageForm)">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card>
</form>
