<mat-card color="warn" >
  <form [formGroup]="loginForm" (submit)="login()">
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="username" formControlName="username">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="password" formControlPassword="password">
    </mat-form-field>
    <button type="submit" mat-raised-button mat-button color="warn" [disabled]="loginForm.invalid">
      Login
    </button>
    <button mat-button routerLink="/registration">Registration</button>
  </form>
</mat-card>
